@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #222222;
  min-height: 100%;
}

.sidebar {
  width: 10rem;
  height: 100%;
  position: fixed;
  background-color: #303030;
  display: inline-block;
}

.mainview {
  width: calc(100% - 25rem);
  height: unset;
  margin-left: 11rem;
  display: inline-block;
}

.cgcard {
  width: 14em;
  height: 19.6em;
  border-radius: 0.618em;
  color: #241f31;
  background-color: #deddda;
  overflow: hidden;
  display: inline-block;
  margin: 1.5rem 1rem 1.5rem 1rem;
  box-shadow: 0 1pt 2pt black;
}

.cgcard_thumbnail {
  width: inherit;
  height: 100%;
  background-size: 100% auto;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.cgcard_title {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "Cantarell", "monospace";
  color: #f6f5f4;
  padding-bottom: 5em;

  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.searchbar {
  width: 10em;
}

.nav-cmd {
  display: block;
  height: 1em;
  margin: 0.5em 1em 0.5em 1em;
  font-family: "Cantarell", monospace;
}

.nav-cmd-title {
  display: inline-block;
  float: left;
}

.nav-cmd-count {
  display: inline-block;
  float: right;
}

.nhanvat {
  width: 400px;
  border: 4px solid red;
  padding: 20px;
  overflow: hidden;
  display: inline-block;
  margin: 1.5rem 1rem 1.5rem 1rem;
}

.nhanvat img {
  width: 14em;
  height: auto;
  background-size: 100% auto;
  vertical-align: center;
  margin-right: 15px;
  float: left;
  object-fit: cover;
}

.nhanvat h3,
.nhanvat p {
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
  color: whitesmoke;
}

.movie-detail {
  color: whitesmoke;
}

.movie-detail img {
  width: 14em;
  height: 19.6em;
  display: inline-block;
}
