@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  --num: 1em;
  --margin-left-for-sidebar: 12em;
  --gnome-cream-white: #f6f5f4;
  --gnome-shadow: #c0bfbc;
  --gnome-blue: #1a5fb4;
  --mazeboy-screen-yellow: #dacf24;
  --mazeboy-screen-dark-yellow: #f5c211;
  --primary: #3c948b;
  --pr-dark: #3e6f6a;
  background-color: black;
}

.wrapper {
  min-height: 100%;
  width: auto;
  margin-left: 5em;
  margin-right: auto;
}

.logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}

.site-subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Cantarell", monospace;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 1em;
}

.sidebar {
  background-color: var(--gnome-cream-white);
  width: 10em;
  height: auto;
  border-radius: 8px;
  margin-top: 1em;
  display: inline-block;
  position: fixed;
  padding-top: 2em;
  padding-bottom: 1em;
}

.site-credit {
  display: block;
  margin-top: 2em;
  font-family: "Cantarell", monospace;
  text-align: center;
  color: #c0bfbc;
}

.mainview {
  width: auto;
  min-height: 100%;
  margin-left: var(--margin-left-for-sidebar);
  overflow: scroll;
  border-radius: 0.5em 0.5em 1em 1em;
  padding-top: 1em;
}

/* hide scroll bar */

.mainview::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.mainview {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cgcard {
  width: 10em;
  height: 16em;
  color: #241f31;
  background-color: #deddda;
  border-radius: 1em;
  display: inline-block;
  margin: 1.5rem 1rem 1rem 1rem;
}

.cgcard_thumbnail {
  width: 10em;
  height: 16.5em;
  background-size: auto 16em;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0pt -7pt 2pt 0pt black inset;
  background-position: center top;
}

.cgcard_title {
  margin-top: 13em;
  position: absolute;
  width: 7em;
  height: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: center;
  font-family: "Cantarell", "monospace";
  font-size: 1em;
  font-style: oblique;
  color: #f6f5f4;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.searchbar {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-family: "Cantarell", monospace;
}

::placeholder {
  text-align: center;
}

input {
  text-align: center;
}

.nav-cmd {
  display: block;
  height: 2em;
  margin: 0em 1em 0em 1em;
  background-color: inherit;
  border-radius: 5pt;
  user-select: none;
}

.nav-cmd:hover {
  background-color: #9a9996;
}

.nav-cmd-title {
  font-family: "Cantarell", monospace;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
  color: #5e5c64;
  display: flex;
  height: inherit;
  float: left;
  align-items: center;
  margin-left: 0.4em;
}

.nav-cmd-count {
  font-family: "Cantarell", monospace;
  font-weight: bold;
  color: #f6f5f4;
  background-color: #5e5c64;
  border-radius: 1em;
  display: flex;
  align-items: center; /* vertical */
  justify-content: safe center; /* horizontal */
  float: right;
  /* below is the current way to vertically center the element */
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
}

.sidebar a,
.sidebar a:visited {
  color: inherit;
}

.movie-detail {
  color: #303030;
  padding-left: 2em;
}

.movie-detail p {
  font-family: "Cantarell", monospace;
}

.movie-detail h2 {
  font-family: "Courier Prime";
  text-align: center;
}

/* Movie Detail's Header */

.md-header-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20em;
  background-color: var(--gnome-cream-white);
  font-family: "Cantarell", serif;
  border-radius: 0.618em 0 0 0.618em;
  margin-bottom: 32px;
}

.md-header-col-left {
  display: block;
  margin-left: 1em;
  height: 90%;
  flex: none;
}

.md-header-col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1em;
  width: auto;
  height: 100%;
}

.md-header-col-right-row-0,
.md-header-col-right-row-1 {
  padding-up: 1em;
  padding-right: 1em;
  max-height: 50%;
  overflow: hidden;
}

.md-header-col-right-row-1 {
  overflow: scroll;
}

.md-header-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.618em;
}

.md-header-title {
  display: inline-block;
  font-size: 2em;
}

.md-header-rating {
  display: block;
}

.md-header-genre-block {
  display: block;
}

.md-header-genre-tag {
  display: inline;
  background-color: var(--primary);
  color: var(--gnome-cream-white);
  box-shadow: 0 4px 0 0 var(--pr-dark);
  border-radius: 0.5em;
  border-width: 2px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.md-body-block {
  display: flex;
}

.md-header-separator {
  border-color: #303030;
}

.md-desc-panel {
  display: block;
  width: 30em;
}

/* Movie Detail's Countdown */

.md-countdown {
  background-color: var(--primary);
  border-radius: 1em;
  box-shadow: 0 10px 0 0 var(--pr-dark);
  padding-top: 10px;
  padding-bottom: 7px;
  margin-bottom: 3em;
  width: 20em;
}

.md-countdown-output {
  font-family: "Courier Prime", serif;
}
.md-countdown-out-status {
  text-align: center;
}

.md-countdown-screen {
  background-color: var(--mazeboy-screen-yellow);
  border-radius: 1em;
  border-color: black;
  border-width: 5px;
  border-style: double;
  margin: 10px;
  width: auto;
  height: auto;
  padding: 1em;
}

/* Movie Detail's Cast panel */

.md-cast-panel {
  display: block;
  border-radius: 1em 0 0 0;
  background-color: var(--gnome-cream-white);
  font-family: "Cantarell", serif;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.md-cast-title {
  font-weight: bold;
  margin-bottom: 1em;
}

.md-cast-cards-list {
}

.nhanvat {
  width: 10em;
  height: 20em;
  margin-left: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 15px 0px var(--gnome-shadow);
  display: inline-flex;
  flex-direction: column;
  background-color: var(--gnome-cream-white);
  overflow: hidden;
  border-radius: 1em;
}

.nhanvat:hover {
  animation: nhanvat-hover 1s ease-out forwards;
}

@keyframes nhanvat-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.07);
  }
}

.md-cast-cards-list a,
.md-cast-cards-list a:visited {
  text-decoration: none;
}

.nhanvat img {
  width: 100%;
  height: 11em;
  margin-right: 1em;
  float: left;
  object-fit: cover;
  margin-bottom: 1em;
}

.nhanvat-desc {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.nhanvat h3,
.nhanvat p {
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
  display: block;
}

.nhanvat h3 {
  color: var(--gnome-blue);
  line-height: 1.2em;
}

.nhanvat p {
  color: var(--mazeboy-screen-dark-yellow);
}

.actor-details {
  color: whitesmoke;
}

.actor-details img {
  width: 15em;
  height: 22.5em;
  background-size: 100% auto;
  vertical-align: center;
  object-fit: cover;
}

.season-tag {
  padding: 6px;
  border: 2px solid var(--gnome-cream-white);
  margin: 0.5rem 0rem 1rem 0rem;
  border-radius: 0.314em;
  text-decoration: none;
}

.collapsible {
  margin: 1rem 0rem 1rem 0rem;
  color: white;
}

.collapsible .content {
  padding: 6px;
}
.collapsible .content a {
  text-decoration: none;
  color: var(--gnome-white);
  text-align: center;
}

.collapsible .header {
  text-align: center;
  padding: 6px;
  cursor: pointer;
  border: 2px solid var(--gnome-cream-white);
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.314em;
  font-family: "Courier Prime", serif;
}

.season-detail {
  color: whitesmoke;
}

.season-detail img {
  width: 14em;
  height: 19.6em;
  display: inline-block;
}

.episode {
  padding: 6px;

  margin: 0.5rem 0rem 1rem 0rem;
  border-radius: 0.314em;
  background-color: black;
  text-align: center;
}

.episode img {
  height: inherit;
  width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ad-header {
  display: flex;
  flex-direction: column;
  width: 10em;
}

.ad-head-thumbnail {
  width: inherit;
  max-height: 15em;
}

.ad-head-name {
  width: inherit;
  text-align: center;
  font-family: "Cantarell", serif;
  font-style: italic;
  color: var(--gnome-cream-white);
}

/* Mobile aspect ratio section */

@media screen and (max-width: 38em) {
  .wrapper {
    margin: 0;
  }
  .sidebar {
    position: static;
    width: 100%;
    margin-bottom: 2em;
  }
  .logo {
    width: 10vw;
  }
  .mainview {
    margin: 0;
    position: relative;
  }
  .movie-detail {
    padding-left: 0;
    padding-right: 0;
  }
  .md-countdown {
    width: 100%;
  }
  .md-cast-panel {
    border-radius: 1em 1em 0 0;
    padding-left: 0;
    padding-right: 0;
  }
}
