@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

body
{
	margin: 0;
	padding: 0;
}

.wrapper
{
	background-color: #222222;
	min-height: 100%;
}

.sidebar
{
	width: 10rem;
	height: 100%;
	position: fixed;
	background-color: #303030;
	display: inline-block;
}

.mainview
{
	width : calc( 100% - 25rem);
	height : unset;
	margin-left: 11rem;
	display: inline-block;
}

.cgcard
{
	width : 10em;
	height : 8em;
	border-radius : 1em;
	color : #241f31;
	background-color : #deddda;
	overflow : hidden;
	display : inline-block;
	margin : 1.5rem 1rem 1.5rem 1rem;
	box-shadow: 0 1pt 2pt black;
}

.cgcard_thumbnail
{
	width: inherit;
	height: 100%;
    background-size: 150% auto;
}

.cgcard_title
{
	width: inherit;
	height: inherit;
	display: flex;
	align-items: flex-end;
	justify-content: center;
    font-family : "Cantarell","monospace";
    color: #F6F5F4;
    padding-bottom: 5em;
}

.searchbar
{
	width: 10em;
}

.nav-cmd
{
	display: block;
	height: 1em;
	margin: 0.5em 1em 0.5em 1em;
	font-family: "Cantarell", monospace;
}

.nav-cmd-title
{
	display: inline-block;
	float: left;
}

.nav-cmd-count
{
	display: inline-block;
	float: right;
}