@font-face
{
	font-family : 'Cantarell';
	src : url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
}

.wrapper
{
	width : 100%;
	height : 100%;
}

.mainview
{
	width : 40rem;
	height : inherit;
	margin : 0 auto;
}

.cgcard
{
	width : 10em;
	height : 10em;
	border-radius : 1em;
	color : #241f31;
	background-color : #deddda;
	overflow : hidden;
	display : inline-block;
	margin : 2rem 1rem 2rem 1rem;
}

.cgcard_thumbnail
{
	width : auto;
    height : 7em;
    border-radius : 0 0 0.5em 0.5em;
    background-size : auto 7em;
}

.cgcard_header
{
	width : auto;
    height : 3em;
    text-align : center;
    font-family : "Cantarell","monospace";
}